*, html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* * Correct the inability to style clickable types in iOS and Safari. */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

.wrapper {
  position: relative;
  height: 100%;
}

/* 1st breakpoint at min 645px wide */
.parent-container {
  margin: 1%;
  padding-bottom: 10%; /*not sure if in use */
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: mintcream;
  height: 80vh;
  padding: 0 calc(4px * 3);
  /* padding: 10%; */
}

.child-container {
  margin-left: auto;
  margin-right: auto;
}

/* for the text input to search for allergen in home page  */

.search-allergen {
  border-radius: 4px;
  height: 35px;
  background-color: white;
}

#input-container {
  display: flex;
  width: 100%;
  height: 100%;
}

#search-allergen-input {
  width: 100%;
  padding: 10px;
  outline: none;
  background: none;
  border: none;
}

/* working but not responsive */
/* #search-button {
  position: relative;
  z-index: 1;
  left: -25px;
  top: 1px;
  color: #7B7B7B;
  cursor:pointer;
  width: 0;
  box-sizing: content-box;
  display: inline;
  overflow: visible;
}

#search-allergen-input {
  -webkit-box-flex: 1;
  flex-grow: 1;
  width: 90%;
  height: 100%;
  background: white;
  border: none;
  color: black;
  display: inline;
} */

@media screen and (max-width: 767px) {
  .search-allergen {
    height: 48px;
  }
}
@media screen and (min-width: 768px) {
  .search-allergen {
    height: 54px;
  }
}

/* this is the icons in the navbar */
i {
  padding-right: 15px;
}

/* SMALLEST WIDTH */
@media screen and (max-width: 480px) {
  .parent-container {
    padding-top: 50px;
    padding-bottom: 24px;
    padding-left: 8px;
    padding-right: 8px;
    height: 100%;
  }
}
/* FIRST BREAKPOINT */
@media screen and (min-width: 481px) {
  .parent-container {
    padding-top: 80px;
    padding-bottom: 64px;
  }
}
/* SECOND BREAKPOINT */
@media screen and (min-width: 760px) {
  .child-container {
    width: 66.66667%;
  }
}
